@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.slidev-layout {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5em;
  position: relative;

  strong, code {
    color: #42b883;
  }

  h1 {
    --at-apply: font-[2.5rem];
  }

  h1,h2,h3 {
    font-weight: 500;
  }

  p {
    line-height: 1.8rem;
    margin: 0.5rem 0 0.5rem 0;
  }

  li {
    line-height: 2rem;
  }
}

.slidev-vclick-target {
  transition: opacity 500ms ease, filter 200ms ease;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
  filter: blur(3px);
}


.fade-out-leave-active {
  transition: opacity calc(var(--slidev-transition-duration) * 0.6) ease-out, filter 200ms ease;
}

.fade-out-enter-active {
  transition: opacity calc(var(--slidev-transition-duration) * 0.8) ease-in, filter 200ms ease;
  transition-delay: calc(var(--slidev-transition-duration) * 0.6);
}

.fade-out-enter-from,
.fade-out-leave-to {
  opacity: 0;
  filter: blur(5px);
}

.highlighted-word {
  background-color: rgba(0, 0, 0, 4%);
  outline: 1px solid rgba(0, 0, 0, 20%);
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 4px;
}

.s-container {
  position: relative;
  padding-top: 0.5px;
}

.s-container > :first-child {

}

.s-container > :not(:first-child) {
  top: 0;
  position: absolute;
  width: 100%;
}

x {
  color: #90c2a8
}