/* fade-out */
.fade-out-leave-active {
  transition: opacity calc(var(--slidev-transition-duration) * 0.6) ease-out, filter 200ms ease;
}

.fade-out-enter-active {
  transition: opacity calc(var(--slidev-transition-duration) * 0.8) ease-in, filter 200ms ease;
  transition-delay: calc(var(--slidev-transition-duration) * 0.6);
}

.fade-out-enter-from,
.fade-out-leave-to {
  opacity: 0;
  filter: blur(5px);
}

/* v-click */
.slidev-vclick-target {
    transition: opacity 500ms ease, filter 200ms ease;
}

.slidev-vclick-hidden {
    opacity: 0;
    pointer-events: none;
    filter: blur(3px);
}

/* fx */

.fx {
    --at-apply: transform filter duration-[var(--slidev-transition-duration)];
}

.-popup-hidden {
    @apply pointer-events-none;
    --un-blur: blur(10px);
    --un-scale-x: 0;
    --un-scale-y: 0;
}

.-blur-hidden {
    @apply pointer-events-none filter-blur-[10px] opacity-0;
}

.-slide-down-hidden {
    @apply pointer-events-none translate-y-full opacity-0;
}

/* fade-out */
@keyframes fade-out {
    from {
        opacity: 1;
        filter: blur(0px);
    }
    to {
        opacity: 0;
        filter: blur(5px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

/* Apply the custom animation to the old and new page states */
:not(.vt) ::view-transition-old(*) {
  animation: var(--slidev-transition-duration) ease-in both fade-out;
}

:not(.vt) ::view-transition-new(*) {
  animation: var(--slidev-transition-duration) ease-in both fade-in;
}

:not(.vt) ::view-transition-image-pair(*) {
  isolation: auto;
}

/* fx-keyframes */
@keyframes fx-spin {
    from { --un-rotate-z: 0deg; }
    to { --un-rotate-z: 360deg; }
}

@property --un-rotate-z {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@property --un-scale-x {
    syntax: '<number>';
    initial-value: 1;
    inherits: false;
}

@property --un-rotate-y {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@property --un-rotate-z {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
