[variant] {
    transition: all 2.5s ease-out,
     --bg-keyword 2.5s ease-out,
     --bg-first 2.5s ease-out,
     --bg-second 2.5s ease-out,
     --bg-third 2.5s ease-out,
     --v-color 2.5s ease-out;
}

@property --v-color {
    syntax: '<color>';
    initial-value: theme('colors.gray.500');
    inherits: true;
}

@property --bg-keyword {
    syntax: '<color>';
    initial-value: theme('colors.gray.500');
    inherits: true;
}

@property --bg-first {
    syntax: '<color>';
    initial-value: theme('colors.gray.500');
    inherits: true;
}

@property --bg-second {
    syntax: '<color>';
    initial-value: theme('colors.gray.500');
    inherits: true;
}

@property --bg-third {
    syntax: '<color>';
    initial-value: theme('colors.gray.500');
    inherits: false;
}

.item {
  @apply text-sm bg-[#00000088] p-[12px] rd-[8px] flex flex-row items-center gap-[8px]
}
.item-example {
  @apply text-sm bg-[#00000088] p-[12px] rd-[8px] flex flex-col gap-[8px]
}
.item-icon {
  @apply w-[27px] h-[27px] rd-[4px] flex items-center justify-center;
  background-color: #D9D9D920;
}
.items-grid {
  @apply grid grid-cols-2 grid-rows-4 gap-[14px] grid-flow-col mt-12;
}